<% content_for :title, "Showing apartment" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%=  @apartment.title.titleize %></h1>

  <%= render @apartment %>

  <%= link_to apartments_path,
              class: "w-full sm:w-auto text-center mt-4 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" do %>
    <i class="fas fa-arrow-left mr-2"></i> Volver
  <% end %>

</div>
